.main table{
    width: 100%;
    border: solid 1px #ffffff;
    margin-top: 30px;
  }
  .main table thead{
    height: 40px;
    background: rgb(194, 194, 194);
  }
  .main table tbody tr{
    height: 40px;
    background: #ffffff;
  }